<div class="row">
  <div class="col-12">
    <h1>In this tutorial, I am going to show how to transform angular SPA angular to angular universal and host the
      application to firebase using firebase function</h1>
    <hr>
    <hr>
    <p> Summary: The purspose of this tutorial is to demonastrate the search engine optimization issue with SPA. As we
      already know, seach engine optimization is importnat for any business application. In this series of blog post, I
      will creare a angular SPA and transform to to serverside rendered application with the help for firebase. Then I
      will host the application in the firebase. Finally, I will show some tricks to optimize the search engine</p>

  </div>

  <div class="col">
    At first, we are going to generate an angular application. Before that make sure you have the angular cli installed
    globally.

    <pre>
      <code>
        ng new angular-universal-demo 
      </code>
    </pre>

    <p>This should create minimal angular application with necessary configuration. Navigate to to project directory.
      Fundamentally, it requires some menual configuration to add node express and render the application from server.
      Howerver, withe the help of angular schematics we can add all the configuration and code needed to transform the
      project to universal.
    </p>
    Run the following command:

    <pre>
      <code>
        ng add @angular/universal
      </code>
    </pre>

    If you look carefully to the project structure, you should be able to see the extra files. These are:

    <li>app.server.module.ts</li>
    <li>server.ts</li>

    server.ts added the express middleware code to host the applicatin.

    Thats it, now you can build the project to test it.

    Run the following command to build the projec to render form server side.

    <pre>
      <code>
        npm run build:ssr
      </code>
    </pre>


    Run the following command to run the project using using express server to test it in the local environment

    <pre>
      <code>
        npm run server:ssr
      </code>
    </pre>

    Navigate to http://localhost:5000 to see the project. Try to see the project sourcecode in the borowser.
    Interstingsly, the code is not similar to the SPA, as it renders all the necessary code once you nagivate to the
    project URL.

    Yah, thats it your project is ready to work with search engine .



  </div>

  <div class="col-12">
    In this stage, we will work to host the application in the firebase.
    I have seen few very good tutorials online to host the application in the firebase. However, it requires so much
    thought and hard work to host the application in firebase. After doing some research, i figured out the following
    to make the hosting process easier.

    We will use firebase functions to host the application and server the application as an event of firebase trigger.


    Pre requsites: Install the firebase tools sdk globally
    <pre>
      <code>
        npm install firebase-tools -g

      </code>
    </pre>

    At this stage, we will initialize the project for firebase hositng and funcitons
    Initialize the project for hosting: Run the following command in the project directory
    <pre>
       <code>
          firebase init 

       </code>
     </pre>
    Choose firebase hositng and for hosting directory choose dist.

    Initialize the project for firebase functions.

    <pre>
      <code>
        firebase init 
      </code>
    </pre>

    Choose javascript to write the function.

    It should generate a project in the project directory. Navigate to the project.

    This is the tricky part, If you are familar with express then it will be easier to understand. We just need to
    install the express server and server the dist/browser directory in case of firebase funtiion trigger.

    I found that you dont need to write any code as the code is already generated by the schematics. Copy the the code
    from server.ts and past it in the index.js in the function directory.
    Note that you need to install the all the angular dependecy in the function project.

    Instad of server the porject in the local port, we need to tie to function

    Includ the following code at the end of index.js

    <pre>
      <code>
        exports.triggers= functions.https.onRequest(app);
      </code>
    </pre>

    We are almost done. Dont forget to run npm install in the function directory to inlude all the dependency

    Now create a deply.sh file in the project root directoty to automate the deployment process.
    We are goig to copy the dist folder to function directorty as we are refencing the dist/browser in the index.js to
    host the compiled code for universal
    Firebase tools suppor to test the function code in the local environment before hosting to the cloud.

    <pre>
      <code>
        rm -r functions/dist
        npm run build:ssr

        cp -R dist functions/dist
        //serve locally
       // firebase serve

        //deploy to firebase
        firebase deploy

      </code>
    </pre>


    Note: you need to chage the permissin of sh file to execute. 

    <code>
      <pre>
        chmod +x deploy.sh
      </pre>
    </code>

    Now run .sh file 

    <pre>
      <code>
        ./deply.sh
      </code>
    </pre>

  </div>
</div>
