.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  width: 250px;
  height: 150px;
  background: tomato;
  font-weight: bold;
  color: white;
  font-size: 3em;
  text-align: center;
  line-height: 150px;
  margin-top: 5px;
}
